
</div>  
<div class="footer" style="margin-top: <%= margin %>">
<div class="social_media">
   <a href="https://twitter.com/Rehansnehalshah"  target="_blank"> <img src="/footer/image 7.svg" /></a> 
   <a href="https://www.instagram.com/rehanshah3404/"target="_blank">  <img src="/footer/image 8.svg"/> </a>
   <a href="https://github.com/Rehan-shah?tab=repositories"target="_blank"> <img src="/footer/image 9.svg"/> </a>
   <a href="https://discord.com/login?redirect_to=%2Fchannels%2F%40me"target="_blank"><img src="/footer/image 10.svg"/> </a>
</div>

<div class="text">
   <table>
      <tr>   <td colspan="2"> <h1 style="
         margin-bottom: -10px;
     ">Index</h1></td></tr>
   <tr>
      <td>
   <a href="/    " ><h4>Home </h4></a>
   <a href="/Resume    " ><h4>Resume     </h4></a>
   <a href="/Projects  " ><h4>Projects   </h4></a>
</td>
<td>
   <a href="/Essay   " ><h4>Essay    </h4></a>
   <a href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&body=// please write an query or request you found have for me to built your software product" ><h4>Contact Me </h4></a></tr>
</td>
</table>
</div>
<div class="Click">
 <a href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&body=// please write an query or request you found have for me to built your software product"><h1>Click here to <br> Hire Me</h1></a> 
</div>
</div>
</body>

</html>
