
<form action="/shit" method="POST">
    <label for="Heading">Heading</label><br>
    <input type="text" id="name" name="Heading"><br>
    <label for="category">category:</label><br>
    <input type="text" id="category" name="category"><br><br>
    <label for="image">image:</label><br>
    <input type="text" id="image" name="image"><br><br>
    <label for="Content">Content:</label><br>
    <input type="text" id="Content" name="Content"><br><br>
    <input type="submit" value="Submit">
</form>