<%- include("partials/header"); -%>
        
<div class="hero" style="
height: 210vh;">
    <div style="
    width: 210vh;
    background-color: #F1ECE6;
    height: 101px;
    position: absolute;
    left: 100px;
    top: 50px;
"></div>
    <img class=" Pimg"  id ="scrotase_img"src="scrotase_1.svg"></img>
    <img class="Pimg" id="adam_smith_img" src="Adam_Smith.svg"></img>
    <div class="home_text <%= broswer %>">
   <h2 style="margin-top: -10px;padding-bottom: 20px;">Welcome to my webite , I am a </h2>
 <h1 style="margin-top: -10px;margin-bottom: -20px;" >
    Website Designer,
    <br> Intellectual dumby, <br>
     Academic</h1>
<video  muted loop autoplay style="position: relative;top: -700px;">
    <source src="movingGradient.mp4" type="video/mp4" />
</video>
</div>
</div>
<div class="Selction" style="margin-left: 4%;margin-right: 4%;">
    <div class="Project" style="position: relative  ">
     <img style="position:absolute; z-index: -1;" src="Project/Group 3.svg"/>
     <img src="Project/image 11.svg" class="pallax-1 pallax" style="
     position: absolute;
     top: 120px;
     left: 90px;"/>
     <img src="Project/image 12.svg" class="pallax-2 pallax"  style="
     position: absolute;
     top: 130px;
     left: 140px;
 "/>
  <a href="/project"> <img class="LearnMore_btn"  src="Learn More btn.svg" style="
    position: absolute;
    top: 480px;
    left: 170px;
"></img></a>
    </div>
    <div class="Esssay" style="position:relative; left:400px;">
        <a href="/Essay"> <img src="Learn More btn.svg"  class="LearnMore_btn" style="
            top: 520px;
                 position: absolute;
                 left: 255px;"
        ></a>
        <img style="position:absolute; z-index: -1;" src="Essay/Group 3.svg"/>
        <img src="/Essay/image 5.svg" class=" pallax-1 pallax " style="
        position: relative;
        top: 130px;
        left: 170px;"/>
        <img src="/Essay/image 13.svg" class="pallax-2 pallax" style="
        position: absolute;
        top: 200px;
        left: 220px;"/>
   
    </div>
    <div class="Resume" style="position:relative; left:575px; ">
        <img style="position:absolute; z-index: -1;" src="resume/Group 4.svg"/>
        <img src="resume/image 16.svg" class=" pallax" style="
        position: absolute;
       top: 60px;
        left: 140px;"/>
        <a href="/Resume"> <img class="LearnMore_btn" style="position: absolute;left: 260px;top: 480px;" src="Learn More btn.svg"></img></a>
    </div>

    <script>
        //parallx effect
        $(window).scroll(function() {
let scale_factor_1 = 0.05;
let scale_factor_2 = -0.1;
let c1 = 140;
let c2 = 70;

for (let i = 0; i < ($(".pallax").length); i++) {
if($($(".pallax")[i]).attr("class").split(' ')[0] == "pallax-1") {
var y1 = -Math.abs(this.scrollY);
$($(".pallax")[i]).css('top',scale_factor_1*y1+c1);
} else if($($(".pallax")[i]).attr("class").split(' ')[0] == "pallax-2") {
var y2 = -Math.abs(this.scrollY);
$($(".pallax")[i]).css('top',scale_factor_2*y2+c2);
}
}
});

        //Parallax effect 
      let Pimgs = [];
      let c = 0 
       for (let i = 0; i < $(".Pimg").length; i++) {
          Pimgs.push(  $(".Pimg")[i].id)
          }          

        $(window).scroll(function() {
            for (let i = 0; i <Pimgs.length; i++) {
                let c = 0 
            if (Pimgs[i] == "adam_smith_img"){
                c = 150;
            } ;
        var y = -Math.abs(this.scrollY);
        var scale_factor = 0.3
        $("#"+Pimgs[i]).css('top',scale_factor*y+c);
            }
            })

       //Hover Img button 


   for(let i = 0 ; i< $(".LearnMore_btn").length ; i++){
    $(".LearnMore_btn").eq(i).mouseover(function(){
        $(".LearnMore_btn").eq(i).attr("src" , "LearnMoreBtnH.svg");
    })
    .mouseout(() => {
        $(".LearnMore_btn").eq(i).attr("src" , "Learn More btn.svg");
    });
   }

</script>
 

</div>

<%- include("partials/footer"); -%>