


  @font-face {
    font-family: "SF PRO";
    src: url(fonts/SF-Pro-Text-Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: "SF PRO";
    src: url(fonts/SF-Pro-Text-SemiBold.otf);
    font-weight: normal;
  }


  @font-face {
    font-family: "SF PRO" ;
    src: url(./fonts/SF-Pro-Text-Heavy.otf);
    font-weight: 1000;
  }

/* Code of css */

body{
    background-color: #F1ECE6;
    margin: 0px;
    padding: 0px;
    opacity: 0%;
    font-family: "SF Pro";
}
.Header p{
    display: inline;
    font-size: 20px;
    background-color: #F1ECE6;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    opacity:0.7
}

.Header{
    border-bottom: 0.5pt solid black;
    z-index: 5;
    position: relative;
    background-color: #F1ECE6;
    display: flex;
}

.hero h1{font-weight:1000;
  font-size: 8rem; 
    text-align: center;

  }
.hero h1 , .hero h2 {

  align-items: center;
  text-align: center;
  z-index: 1;
  ;color: black;
  background-color: #F1ECE6;
    mix-blend-mode: lighten;
}

.hero video {
  z-index: -1;
  position: relative;top: -700px;
  left: 100px;
}

#scrotase_img {
  z-index: 2;
position: absolute;
top: 150px;

width: 45%;
}

#adam_smith_img {
  z-index: 2;
position:relative;
 left: 140px;
 top: 680px;
width:85% ;
}

.hero h2 {
  text-align:center; 
  font-size: 3rem;
  margin-bottom: 0px;
}

.navbar {
  padding-left: 60px;
  padding-right: 60px;
  padding-top:5px;
  margin-bottom: 5px;
  z-index: 5;
  background-color: #F1ECE6;
  border-bottom:0.5px solid black ;
 font-family: "SF Pro";
 font-size: 20px;
}

.nav-link , .nav-link .active{
  opacity: 0.7;
}

.navbar-brand{
  opacity: 0.7;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar-nav > li{
    font-size: 4rem;
  padding-left:50px;
  padding-right:50px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-toggler-icon{
    width: 100px;
    height: 100px;
}
.navbar-toggler {
    margin-top: 50px;
    margin-bottom: 50px;
}


.home_text{
  position: relative;
  top: -750px;
  overflow: hidden;
}

 .navbar-dark{
  background-color: #141722;
  border-bottom:0.5px solid #F1ECE6 ;
}

.project .coin {
  left: 710px;
  position: absolute;
  width: 30%;
  z-index: -1;
  top: 200px;
}

 .coin {
  position: absolute;
  width: 50%;
  top: 200px;
  z-index: -1;
}

.context{
  margin-top: 300px;
}

 .Freud{
  z-index: -1;
  position: absolute;
  width: 70%;
  top: 1340px;
  left: 300px;

}

.Essay ul {
  display: inline-block;
 margin-left: -100px;
}

.context li {
  list-style-type: none;
  color: #dcd4ce;
  font-size: 3rem;
}

.context .heading{
  color:#dcd4ce;
  font-size: 4rem;
  font-weight: bold;
}

.Essay .content:hover {
  text-decoration: underline;
}



.articles {
 background-color: white;
 margin-left: 3%;
 margin-right: 3%;
}

.articles img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 4%;
margin-bottom: 6%;
}

a {
  text-decoration: none;
  color: inherit;
  }

.articles h2{
  font-size: 3rem;
  color: #141722;
  opacity: 0.7;
  font-family: "SF PRO";
}

.articles h1{
  font-size: 5rem;
  color: #141722;
  opacity: 0.7;
  font-family: "SF PRO";
  font-weight: bold;
  margin-top: -10px;
}

.articles p {
  font-size: 2.2rem;
  color: #141722;
  opacity: 0.7;
  text-align: justify;
}


.articles button {
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 50px;
}



.articles a:hover {
  text-decoration: underline;
}

.articles a {
  color: #141722 ;
  opacity: 0.7;
  
}

.project h1 {
  font-size: 8rem;
  color: #141722;
  opacity: 0.7;
  font-family: "SF PRO";
  font-weight: bold;
}

.project p{
  font-size: 2rem;
  opacity: 0.7;
  font-family: "SF PRO";
  color: #141722;
}

.project {
  margin-left: 5%;
  margin-right: 5%;

}


.hi {
  border-radius: 30px;
  width: 788px;
  }

.main {
  width: 2200px;
}


.LearnMore_btn {
  width: 300px;
  position: relative;
  bottom: 400px;
  left: 260px;
}

.scroll {
  overflow: scroll;
  margin-left: -60px;
}

.scroll h3 {
  font-size: 4.5rem;
  margin-left: 130px;
  color: #141722;
  opacity: 0.7;
  margin-bottom: -70px;
}
.work_card .text {
  position: relative;
  background-color: rgb(251,249,247);
  width: 788px;
  border-radius: 0% 0% 30px 30px;
  border: 1px solid black;
  margin-top: -210px;
}

.work_card .text  p, h3{
  margin-top: 2%;

}
.work_card .text h3{
  margin-top: 2%;
  font-size: 4rem;
  padding-left: 15px;
}

.text p{
  margin-left: 2%;
    font-size: 1.75rem;
    opacity: 0.7;
    font-family: "SF PRO";
    color: #141722;
}

.work {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
}

.work > * {
  margin-right:20px;
  margin-top: 15px;
}

.erro  h1{
  font-family: "SF Pro";
  color: #141722;
  opacity: 0.8;
  font-size: 9.5rem;
  text-align: center;
}

.context h1 {
  font-size: 7rem;
  margin-left: 30px;
}



.erro{
  margin-top: 30vh;
}



.erro p{
  font-size: 2rem;
  text-align: center;
}

.footer h3 {
  font-size: 4rem;
  color: #dcd4ce;
  padding-top: 50px;
}

.footer {
background-color: #141722;
height: 31vh;
z-index: -10;
overflow-x: clip;
}

.social_media{
  display: flex;
  padding-top: 10px;
}
.social_media img{
  width: 150px;
    padding-left: 10px;
    margin-right: 30px;;
}
h3 , .social_media {
  padding-left: 50px;
}
   h1{
    color: #dcd4ce; 
   }
  



.Click h1{
  font-size: 6rem;
  text-align: right;
  text-align: left;
  padding-left: 55px;
  padding-top: 50px;
}

.Click h1:hover{
  text-decoration: underline;
}


