<div class="footer" >
    <h3>Socials</h3>
    <div class="social_media">
        
       <a href="https://twitter.com/Rehansnehalshah"  target="_blank"> <img src="/footer/image 7.svg" /></a> 
       <a href="https://www.instagram.com/rehanshah3404/"target="_blank">  <img src="/footer/image 8.svg"/> </a>
       <a href="https://github.com/Rehan-shah?tab=repositories"target="_blank"> <img src="/footer/image 9.svg"/> </a>
       <a href="https://discord.com/login?redirect_to=%2Fchannels%2F%40me"target="_blank"><img src="/footer/image 10.svg"/> </a>
    </div>
    
    <div class="Click">
     <a href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&body=// please write an query or request you found have for me to built your software product"><h1>Click here <br> Hire Me</h1></a> 
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>